h1{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: -60%;
    margin-right: 45%;
}
img{
    width: 100%;
    height: 50%;
    display: block;
    object-fit: cover;
}
.bottomsection{
    text-align: center;
    background-color: bisque;
    display: flex;
    align-items: flex-start;
    margin-top: 40%;
    margin-left: 50px;
}
