body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: peru;
    margin: 0;
    padding: 0;
}
.survey{
    max-width: 400px;
    background: cornsilk;
    margin:  40px auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 3px 3px 7px skyblue;
}
h1{
    text-align: center;
    color: navy;
}
p{
    text-align: center;
    margin-bottom: 20px;
}
form input[type="text"],
form input[type="email"],
form input[type="number"],
form select,
form textarea{
    width: 100%;
    padding: 7px;
    margin: 12px 0;
    border: none;
    border-radius: 14px;
    box-shadow: 2px 2px 4px 4px skyblue;
    outline: none;
}
.options label{
    display: block;
    margin: 5px 0;
}
textarea{
    height: 80px;
    resize: none;
}
button{
    display: block;
    width: 20%;
    background: plum;
    border: none;
    color: black;
    padding: 7px;
    border-radius: 20px;
    margin-top: 17px;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 2px 2px 4px 1px skyblue;
}